.main-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
  width: 100vw;
}

.content {
  background: #f8fbfc;
  padding: 2rem;
  border-radius: 2rem 0 0 2rem;
  overflow-y: auto;
}
