.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(145deg, #b4e2c8, #a4d7f5);
  width: 100vw;
  font-family: "Poppins", sans-serif;
}

.register-box {
  background: #ffffffcc;
  border-radius: 16px;
  padding: 2rem;
  width: 360px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo {
  color: #1a3e2b;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1.5rem;
  font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.password-group {
  position: relative;
}

.password-group button {
  position: absolute;
  right: 8px;
  top: 8px;
  background: none;
  border: none;
  cursor: pointer;
}

.checkbox-group {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 13px;
  margin-bottom: 15px;
  margin-left: 4px;
}

#checkbox {
  cursor: pointer;
  margin-bottom: 18px;
  margin-right: 3px;
}

button[type="button"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(135deg, #00c853, #00bcd4);
  color: white;
  cursor: pointer;
  transition: transform 0.2s;
}

button[type="button"]:hover {
  transform: scale(1.03);
  font-weight: bold;
}

a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

a:hover{
    text-decoration: underline;
}
