/* Container geral da página */
.page-container {
  padding: 25px;
  color: #000000;
}

.page-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 18px;
}

/* Card do formulário */
.form-card {
  background: #fff;
  border-radius: 18px;
  padding: 25px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

/* Inputs */
.form-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 6px;
}

input,
textarea {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #2ecc71;
}

/* Upload e preview */
.image-preview-container {
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin: 15px 0; */
}

.placeholder-img {
  width: 250px;
  height: 250px;
  border-radius: 12px;
  background: #e8f5e9;
  color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 15px;
}

.prewie-image  #image{
  max-width: 100px; /* ajuste como gostar */
  max-height: 40%;
  object-fit: cover; /* impede distorção */
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transform: scale(0.95);
  animation: fadeIn 0.35s ease-in-out forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.upload-btn {
  background: #2ecc71;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  width: fit-content;
  font-size: 14px;
  text-align: center;
}

/* Botão principal */
.btn-confirm {
  width: 100%;
  padding: 12px;
  background: #2ecc71;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.btn-confirm:disabled {
  background: #8fb59a;
  cursor: not-allowed;
}
