:root {
  --fundo: #b3e5fc;
  --verde: #c8e6c9;
  --verde-escuro: #1b5e20;
  --cinza-escuro: #424242;
  --branco:#FFFFFF;
  --cinza-claro:#E0E0E0;
  --verde-vibrante:#43A047;
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  display: flex;
  background-color: var(--ve);
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
